body {
  background: linear-gradient(
    -50.94deg,
    #ff78ee 0%,
    #4b7cec 65.60000000000001%,
    #5db3ff 100%
  );
  height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.background {
  background: url(./images/background.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.container {
  padding: 30px 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.about-content {
  margin-top: 100px;
  display: flex;
  max-height: 500px;
}

.ac__text {
  width: calc(50% - 40px);
  padding: 50px 20px;
}

.ac__text h3 {
  font-size: 2em;
}

.ac__text p {
  padding-right: 70px;
  font-size: 1em;
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.836);
}

.ac__text a {
  padding: 10px 40px;
  background: #fff;
  color: #0099ff;
  border-radius: 20px;
}

.ac__images {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.ac__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
